[Unit]
Description=Event broker daemon for systemd-networkd
Requires=systemd-networkd.socket
After=systemd-networkd.socket

[Service]
Type=notify
Environment='NETWORKD_BROKER_ARGS=-v'
ExecStart=/usr/bin/networkd-broker $NETWORKD_BROKER_ARGS
Restart=on-failure
RestartSec=30s

[Install]
WantedBy=multi-user.target
